h1 {
  color: brown;
  text-align: center;
}
h2 {
  color: brown;
  text-align: center;
}

@media screen and (min-width: 560px) {
  article {
    color: chocolate;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: lemonchiffon;
    border-radius: 30px;
    align-items: center;
  }

  .imag {
    width: 90%;
    margin: 30px;
  }

  .imag img {
    max-width: 100%;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }

  .container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  main {
    width: 100%;
  }
  article {
    color: chocolate;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lemonchiffon;
    border-radius: 30px;
  }
  h1 {
    color: brown;
  }

  .imag {
    width: 100%;
    margin: 30px;
  }

  .imag img {
    max-width: none;
    width: auto;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
  }

  .container-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 300px;
  height: 350px;
  background-color: rgb(245, 214, 113);
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}

.container img {
  display: flex;
  border-radius: 50px 50px 0 0;
  flex-grow: 0.6;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 0.3;
}
#strong,
#pag {
  margin: 2px;
}

#strong {
  color: brown;
}

p,
.add {
  color: rgb(160, 70, 6);
}

.conteiner-Add {
  display: flex;
  justify-content: center;
  flex-grow: 0.2;
  margin-bottom: 10px;
}

.add {
  border: 0;
  background-color: lightyellow;
  font-size: 20px;
  width: 150px;
  border-radius: 20px;
  align-items: center;
}

@media screen and (min-width: 800px) {
  header {
    width: 100%;
    height: 150px;
    background-color: rgb(255, 241, 161);
  }

  nav .display {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  button img {
    width: 100px;
  }
  .nav2 {
    display: flex;
    background-color: rgba(210, 152, 6, 0.56);
    border: 0;
    border-radius: 60px;
    padding: 10px;
    color: rgb(139, 66, 14);
    width: 200px;
    align-items: center;
  }

  .nav {
    background-color: rgba(210, 152, 6, 0.56);
    border: 0;
    border-radius: 30px;
    padding: 10px;
    color: rgb(139, 66, 14);
    width: 140px;
    height: 60px;
    font-size: larger;
  }

  .nav2 span {
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  header {
    width: 100%;
    height: 150px;
    background-color: rgb(255, 241, 161);
    display: flex;

    align-items: center;
  }

  nav .display {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  button img {
    width: 100px;
  }
  .nav2 {
    display: flex;
    background-color: rgba(210, 152, 6, 0.56);
    border: 0;
    border-radius: 60px;
    padding: 10px;
    color: rgb(139, 66, 14);
    width: 200px;
    align-items: center;
  }

  .nav {
    background-color: rgba(210, 152, 6, 0.56);
    border: 0;
    border-radius: 30px;
    padding: 10px;
    color: rgb(139, 66, 14);
    width: 140px;
    height: 60px;
    font-size: larger;
  }

  .nav2 span {
    font-size: 25px;
    text-align: center;
  }
}

header {
  width: 100%;
  height: 150px;
  background-color: rgb(255, 241, 161);
  display: flex;
}

.display {
  display: flex;
  flex-direction: column;
}

button img {
  width: 100px;
}
.nav2 {
  display: flex;
  background-color: rgba(210, 152, 6, 0.56);
  border: 0;
  border-radius: 60px;
  padding: 10px;
  color: rgb(139, 66, 14);
  width: 200px;
  align-items: center;
}

.nav {
  background-color: rgba(210, 152, 6, 0.56);
  border: 0;
  border-radius: 30px;
  padding: 10px;
  color: rgb(139, 66, 14);
  width: 140px;
  height: 60px;
  font-size: larger;
  flex-grow: 0.1;
}

.nav2 span {
  font-size: 25px;
  text-align: center;
}
h1 {
  color: brown;
  text-align: center;
}
h2 {
  color: brown;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 300px;
  height: 350px;
  background-color: rgb(245, 214, 113);
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}

.container img {
  display: flex;
  border-radius: 50px 50px 0 0;
  flex-grow: 0.6;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 0.3;
}
#strong,
#pag {
  margin: 2px;
}

#strong {
  color: brown;
}

p,
.add {
  color: rgb(160, 70, 6);
}

.conteiner-Add {
  display: flex;
  justify-content: center;
  flex-grow: 0.2;
  margin-bottom: 10px;
}

.add {
  border: 0;
  background-color: lightyellow;
  font-size: 20px;
  width: 150px;
  border-radius: 20px;
  align-items: center;
}
